<html>
<head>
	<title>Vigilantes Registrados</title>
	<meta charset="utf-8">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<header class="row"><div>
	<nav class="blue darken-2">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">Floppy</a>
			<a href="#" class="sidenav-trigger" data-target="mobile-nav">
			<i class="material-icons">menu</i></a>
		  <ul id="nav-mobile" class="right hide-on-med-and-down">
		    <li><a href="./Registros">Vigilantes Registrados</a></li>
		    <li><a href="./AdminVig">Administrar Vigilantes</a></li>
		    <li><a href="./Fraccionamientos">Fraccionamientos</a></li>
		  	<li><a class="#"><i class="material-icons">account_circle</i></a></li>
		  	<li><a href="./Salir">Salir</a></li>
		  </ul>
		</div>
	</nav>
		
	<ul class="sidenav" id="mobile-nav">
		<li><div class="user-view">
	      <div class="background">
	        <img src="../images/estacionamiento.jpg">
	      </div>
	      <a class="#"><i class="material-icons">account_circle</i></a>
	      <a><span class="white-text email"><%= user %></span></a>
    	</div></li>
	    <li><a href="./Registros">Vigilantes Registrados</a></li>
	    <li><a href="./AdminVig">Administrar Vigilantes</a></li>
	    <li><a href="./Fraccionamientos">Fraccionamientos</a></li>
		<li><a href="./Salir">Salir</a></li>
	</ul>
	</header>
	<main class="row">
	<div class=" col s12">
		<p class="flow-text">Usuarios de automoviles registrados</p>
		<blockquote>Consulta de vigilantes</blockquote>
	<table class="striped responsive-table col s8">
		<thead>
		<tr>
			<td>Habitante</td>
			<td>Modificar</td>
		</tr>
		</thead>
		<tbody>
		    <%Consulta.forEach(function(Consulta){ %>
			<tr>
			<td ><%= Consulta.nom_vig%></td>
			<div id="modal <%= Consulta.nom_vig%>" class="modal modal-fixed-footer">
				<div class="modal-content row ">
				<p class="flow-text" align="center">Modificar información del habitante</p class="flow-text">
				<p>Habitante a modificar:</p><input type="text" readonly="readonly" value="<%= Consulta.cor_vig%>">
				<ul class="collapsible">
				<li>
				<div class="collapsible-header"><i class="material-icons">create</i>Nombre</div>
			<div class="collapsible-body" >
				<form class="col s10" id="1">
					<div class="input-field col s5">
					<label class="activate" for="nombre">Nombre del habitante</label>
					<input type="text" name="nombre" id="nombre">
					</div><br>
					<input class = "btn waves-effect waves-green" type="button" value="Cambiar">
				</form><br>
			</div>
			</li>
			<li>
			<div class="collapsible-header"><i class="material-icons">create</i>Matricula del auto</div>
			<div class="collapsible-body">
				<form class="col s10" id="2">
					<div class="input-field col s5">
					<label class="activate" for="matricula">Matricula del auto</label>
					<input type="text" name="matricula" id="matricula">
					</div><br>
					<input class = "btn waves-effect waves-green" type="button" value="Cambiar">		
				</form><br>
			</div>
			</li>
			<li>
			<div class="collapsible-header"><i class="material-icons">create</i>Marca del auto</div>
			<div class="collapsible-body">
				<form class="col s10" id="3">
				<div class="input-field col s5">
				<label class="activate" for="marca">Marca del auto</label>
				<input type="text" name="marca" id="marca">
				</div><br>
				<input class = "btn waves-effect waves-green" type="button" value="Cambiar" >		
				</form><br>
			</div>
			</li>
			</ul>
			</div>
				<div class="modal-footer ">
					<a href="#!" class="modal-close waves-effect waves-green btn-flat">De acuerdo</a>
				</div>
			</div>
			<td class ="waves-effect waves-green modal-trigger hoverable" href="#modal <%= Consulta.nom_vig%>">Modificar Usuario</td>
			</tr>
			<% });%>
		</tbody>	
	</table>
	</div>
	</main>
  
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/javascripts/AJAX.js"></script>
	<script src="/javascripts/materialize.js"></script>
	<script src="/javascripts/otro.js"></script>
	<script src="/javascripts/init.js"></script>
</body>
</html>
